<template>
  <div>
    <ApiaryForm
      @addApiary-click="addApiary"
      @editApiary-click="editApiary"
      @removeApiary-click="removeApiary"
      :data="apiary"
      :listEnvironment="listEnvironment"
    ></ApiaryForm>
  </div>
</template>

<script>
import ApiaryForm from "@/components/forms/apiary_form.vue";
import UserMixin from "@/mixins/user";
import Apiary from "@/model/apiary";

export default {
  metaInfo() {
    let titleTemplate = "Nouveau rucher"

    if(!this.apiary) titleTemplate = "Edition rucher"

    return {
      titleTemplate: `%s | ${titleTemplate}`
    }
  },
  mixins: [UserMixin],
  components: {
    ApiaryForm
  },

  data() {
    return {
      apiary: null,
      listEnvironment: this.$store.getters["config/GET_ENVIRONMENTS"]
    };
  },

  /**
   * Si un id est dans l'url
   * Set le rucher correspondant
   */
  created() {
    const apiaryId = this.$route.params.id;
    if (apiaryId) {
      this.apiary = this.user._apiaries.filter(
        apiary => apiary._id === apiaryId
      )[0];
      if (!this.apiary) this.$router.push({ name: "404" });
    }
  },

  watch: {
    /**
     * Observe l'id de la route
     * Si il change set le rucher à null
     */
    "$route.params.id": {
      handler() {
        this.apiary = null;
      },
      deep: true
    }
  },

  methods: {
    /**
     * Ajoute un rucher dans user
     */
    async addApiary(data) {
      let currentPosition = {
        coords: {
          latitude: null,
          longitude: null
        }
      };

      try {
        currentPosition = await this.getCoords();
      } catch (err) {
        this.$snotify.warning("Géolocalisation indisponible");
      }

      const apiary = new Apiary(
        data.name,
        data.nbBeehive,
        data.environments,
        {
          latitude: currentPosition.coords.latitude,
          longitude: currentPosition.coords.longitude
        },

        this.$store.getters["config/GET_FREQUENCY"]
      );
      this.user._apiaries.push(apiary); // push dans le tableau de rucher de l'util connecté
      this.$snotify.success("Rucher créé avec succès"); // Envoie une notif
      this.$router.push({ name: "Home" }); // redirection vers home
    },

    /**
     * @params {object} data
     * Edit un rucher donné un parametre
     */
    async editApiary(data) {
      if (data.updateLocalisation) {
        try {
          const currentPosition = await this.getCoords();
          this.apiary._coordinate = {
            latitude: currentPosition.coords.latitude,
            longitude: currentPosition.coords.longitude
          };
        } catch (err) {
          this.$snotify.warning("Géolocalisation indisponible");
        }
      }
      this.apiary._name = data.name;
      this.apiary._nbBeehavior = data.nbBeehive;
      this.apiary._environments = data.environments;
      this.apiary._frequency = data.frequency;
      this.$snotify.success("Rucher modifié avec succès");
      this.$router.push({ name: "Home" });
    },

    /**
     * Supprime le rucher courant
     */
    removeApiary() {
      const apiaries = this.user._apiaries.filter(
        apiary => apiary._id !== this.apiary._id
      );
      this.user._apiaries = apiaries;
      this.$snotify.success("Rucher supprimé avec succès");
      this.$router.push({ name: "Home" });
    }
  }
};
</script>
