<template>
  <div class="d-flex justify-center">
    <v-card class="pa-3 pa-md-12" style="width:100%; max-width: 1000px">
      <v-card-title
        style="font-size:1.5rem; transform: translate(-2%);"
        class="pa-0"
      >
        Configuration
      </v-card-title>
      <v-form ref="form" v-model="valid">
        <v-text-field
          :rules="frequencyRules"
          type="number"
          label="Fréquence par defaut"
          v-model="frequency"
        ></v-text-field>

        <v-row>
          <v-col>
            <v-text-field
              type="text"
              label="Ajouter environnement"
              v-model="environment"
              style="padding-top:22px"
            ></v-text-field>
            <div
              style="width:100%"
              class="d-flex justify-center justify-md-end"
            >
              <v-btn color="info" @click="addEnv">
                Ajouter
              </v-btn>
            </div>
          </v-col>
          <v-col>
            <v-select
              v-model="environments"
              :items="items"
              label="Environnements"
              chips=""
              attach=""
              multiple=""
            ></v-select>
          </v-col>
        </v-row>
        <div
          style="width:100%"
          class="d-flex justify-center justify-md-end pa-md-0"
        >
          <v-btn color="info" :to="{ name: 'Home' }" class="mx-2">
            Retour
          </v-btn>
          <v-btn
            :disabled="!valid"
            color="success"
            @click="validate"
            class="mx-2"
          >
            Valider
          </v-btn>
        </div>
      </v-form>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Settings",
  metaInfo() {
    return {
      titleTemplate: `%s | Configuration`
    }
  },
  data: () => ({
    valid: true,
    frequency: "",
    environment: "",
    environments: [],
    items: [],
    frequencyRules: [
      v => !!v || "Fréquence est requis",
      v => (v && v >= 1) || "La fréquence doit être plus grand que 1",
      v => (v && v <= 99) || "La fréquence doit être plus petit que 99"
    ]
  }),

  /**
   *Récupére la configuration depuis le store
   */
  created() {
    this.frequency = this.$store.getters["config/GET_FREQUENCY"];
    this.environments = this.$store.getters["config/GET_ENVIRONMENTS"];
    this.items = this.$store.getters["config/GET_ENVIRONMENTS"];
  },

  methods: {
    /**
     * Vérifie si le formulaire est valide
     * Modifie le store en fonction de informations du formulaire
     */
    validate() {
      if (this.$refs.form.validate()) {
        this.$store.dispatch("config/SET_FREQUENCY", this.frequency);
        this.$store.dispatch("config/SET_ENVIRONMENTS", this.environments);
        this.items = this.environments;
        this.$snotify.success("Configuration mise à jour");
        this.$router.push({ name: "Home" });
      }
    },

    /**
     * Ajoute un environnement dans les items
     */
    addEnv() {
      this.items.push(this.environment);
      this.environment = "";
    }
  }
};
</script>
