<template>
  <div>
    <UserForm
      @addUser-click="addUser"
      @editUser-click="editUser"
      @removeUser-click="removeUser"
      :data="user"
    ></UserForm>
  </div>
</template>

<script>
import UserForm from "@/components/forms/user_form.vue";
import User from "@/model/user";
import UserMixin from "@/mixins/user";

export default {
  metaInfo() {
    let titleTemplate = 'Mon compte'

    if(!this.user) titleTemplate = 'Inscription'

    return {
      titleTemplate: `%s | ${titleTemplate}`
    }
  },
  components: {
    UserForm
  },

  mixins: [UserMixin],

  data() {
    return {
      data: null
    };
  },

  /**
   * Si l'id de la route est différent de l'user connécter
   */
  created() {
    if (this.$route.params.id && this.user._id !== this.$route.params.id) {
      this.$router.push({ name: "404" });
    }
  },

  methods: {
    /**
     * @param {object} data
     * Ajoute un nouvelle utlisateur
     */
    addUser(data) {
      const user = new User(
        data.firstName,
        data.lastName,
        data.email,
        data.password
      );
      const users = this.$store.getters["data/GET_USERS"];
      users.push(user);
      this.$store.dispatch("data/SET_USERS", users);
      this.$snotify.success("Compte créé avec succès");
      this.$router.push({ name: "Home" });
    },

    /**
     * @param {object} data
     * Edit l'utilisateur
     */
    editUser(data) {
      this.user._email = data.email;
      this.user._lastName = data.lastName;
      this.user.firstName = data.firstName;
      this.user._password = data.password;
      this.$snotify.success("Compte modifié avec succès");
      this.$router.push({ name: "Home" });
    },

    /**
     * Supprime l'utilisateur courant
     */
    removeUser() {
      let users = this.$store.getters["data/GET_USERS"];
      users = users.filter(element => element._id !== this.user._id);
      this.$store.dispatch("data/SET_USERS", users);
      this.$store.dispatch("data/SET_USERCONNECTED", null);
      this.user = null;
      this.$store.dispatch("config/CLEAR");
      this.$router.push({ name: "Home" });
    }
  }
};
</script>
