<template>
  <div>
    <v-row class="d-flex justify-center">
      <v-col
        cols="12"
        md="8"
        lg="9"
        style="width:100%; max-width: 600px"
        ref="leftCol"
      >
        <v-row class="mb-3">
          <v-card class="pa-3 px-md-12" style="width: 100%">
            <v-card-title
              style="font-size:1.5rem; transform: translate(-2%)"
              class="pa-0"
            >
              {{ apiary._name }}
            </v-card-title>
            <div>
              Nombre de ruches : <em>{{ apiary._nbBeehavior }}</em>
            </div>
            <div>
              Fréquences de visites : <em>{{ apiary._frequency }}</em>
            </div>
            <div>
              Liste d'environnements :
              <v-chip
                v-for="env in apiary._environments"
                :key="env"
                class="mx-1"
              >
                {{ env }}
              </v-chip>
            </div>
          </v-card>
        </v-row>
        <v-row>
          <VisitForm
            :apiary="apiary"
            :prevRoute="prevRoute"
            @addVisit-click="addVisit"
          ></VisitForm>
        </v-row>
      </v-col>
      <v-col cols="12" md="4" lg="3" class="ml-3">
        <v-row class="mb-3" ref="setRow">
          <v-card
            class="d-flex justify-center pa-3 px-md-12"
            style="width:100%"
          >
            <v-btn
              color="primary"
              :to="{
                name: 'Admin.Apiary.Edit',
                params: {
                  id: apiary._id
                }
              }"
              class="mx-2"
            >
              Modifier ce rucher
            </v-btn>
          </v-card>
        </v-row>
        <v-row class="mb-3" ref="hausseRow">
          <v-card class="pa-3 px-md-12" style="width: 100%">
            <v-card-title
              style="font-size:1.5rem; transform: translate(-2%)"
              class="pa-0"
            >
              Total de hausse récolté
            </v-card-title>

            <v-menu
              v-model="dateMenu"
              :close-on-content-click="false"
              max-width="290"
            >
              <template v-slot:activator="{ on }">
                <div>
                  {{ getTotalHausse }} hausses depuis le
                  <em class="datePicker" v-on="on">{{ getDate }}</em>
                </div>
              </template>
              <v-date-picker
                color="rgb(255, 196, 0)"
                v-model="date"
                @input="dateMenu = false"
                locale="fr"
              ></v-date-picker>
            </v-menu>
          </v-card>
        </v-row>
        <v-row class="mb-3">
          <v-card class="pa-3 px-md-12" style="width:100%">
            <v-card-title style="font-size:1.5rem" class="pa-0">
              {{ apiary._visits.length === 0 ? "Aucun" : "" }} Historique
            </v-card-title>
            <v-timeline
              dense=""
              v-if="apiary._visits.length > 0 && leftColHeight"
              :style="{ 'max-height': leftColHeight }"
              style="overflow:visible"
            >
              <v-timeline-item
                v-for="visit in getHistory"
                :key="visit.id"
                color="rgb(255, 196, 0)"
                style="width:100%"
                class="d-flex align-center"
              >
                <div class="d-flex">
                  <div style="width:100%">
                    {{ convertDate(visit._date) }}
                  </div>
                  <v-icon @click="(dialog = true), (visitSelected = visit)">
                    mdi-information
                  </v-icon>
                </div>
              </v-timeline-item>
            </v-timeline>
          </v-card>
        </v-row>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" max-width="800">
      <v-card>
        <v-card-title
          class="headline"
          style="background-color: rgb(255, 196, 0)"
          primary-title
        >
          Visite du {{ visitSelected ? convertDate(visitSelected._date) : "" }}
        </v-card-title>
        <v-card-text>
          <VisitForm :data="visitSelected" class="mt-5"></VisitForm>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="rgb(255, 196, 0)"
            text
            @click="(dialog = false), (visit = null)"
          >
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import UserMixin from "@/mixins/user";
import Visit from "@/model/visit";
import VisitForm from "@/components/forms/visit_form.vue";
import DateHelper from "@/mixins/date";

export default {
  metaInfo() {
    return {
      titleTemplate: `%s | Visite`
    }
  },
  mixins: [UserMixin, DateHelper],

  components: {
    VisitForm
  },

  data() {
    return {
      prevRoute: "Home",
      apiary: null,
      date: new Date().toISOString().substr(0, 10),
      dateMenu: false,
      leftColHeight: null,
      dialog: false,
      visitSelected: null
    };
  },

  /**
   * Change la route du bouton retour
   */
  beforeRouteEnter(to, from, next) {
    if (from.name) {
      next(vm => {
        // eslint-disable-next-line no-param-reassign
        vm.prevRoute = from.name;
      });
    }
    next();
  },

  /**
   * Récupere le rucher courant
   */
  created() {
    const apiaryId = this.$route.params.id;
    this.apiary = this.user._apiaries.filter(
      apiary => apiary._id === apiaryId
    )[0];

    if (this.apiary._visits[0]) {
      this.date = new Date(this.apiary._visits[0]._date)
        .toISOString()
        .substr(0, 10);
    }
  },

  mounted() {
    this.leftColHeight = `${this.$refs.leftCol.clientHeight -
      this.$refs.setRow.clientHeight -
      this.$refs.hausseRow.clientHeight -
      48}px`;
  },

  methods: {
    /**
     * Ajoute une visite
     */
    addVisit(data) {
      const visit = new Visit(
        data.date,
        data.food,
        data.hausse,
        data.devDynamic,
        data.comments
      );
      this.apiary._visits.push(visit);
      this.user._apiaries.map(apiary => {
        if (apiary.id === this.apiary.id) {
          // eslint-disable-next-line no-param-reassign
          apiary = this.apiary;
        }
        return apiary;
      });

      this.$snotify.success("Visite créé avec succès");
    }
  },

  /**
   * Retour la date au format voulue
   */
  computed: {
    getDate() {
      return this.date ? this.convertDate(this.date) : "";
    },

    /**
     * Retour le total de hausse pour un ruchet
     */
    getTotalHausse() {
      let total = 0;
      this.apiary._visits.forEach(visit => {
        if (new Date(visit._date) >= new Date(this.date)) {
          total += parseInt(visit._hausse, 10);
        }
      });
      return total;
    },

    /**
     * Retour l'historique de visite pour un ruchet
     */
    getHistory() {
      const visits = this.apiary._visits;
      visits.sort((a, b) => {
        return new Date(a._date) - new Date(b._date);
      });
      return visits;
    }
  }
};
</script>

<style scoped>
.datePicker {
  text-decoration: underline;
  color: rgb(255, 196, 0);
  cursor: pointer;
}

em {
  font-weight: bold;
}

.v-timeline {
  overflow-y: auto;
  cursor: default;
}
</style>
