<template>
  <v-row style="height:100%" id="apiaries_map">
    <v-col cols="12" md="8" lg="9" xl="10">
      <Map
        id="apiaries_map"
        :apiaries="getApiaries"
        :coords="coords"
        @goToVisit="goToVisit"
      ></Map>
    </v-col>
    <v-col cols="12" md="4" lg="3" xl="2">
      <v-list shaped elevation="5">
        <v-subheader>Liste des ruchers</v-subheader>
        <v-list-item-group color="primary">
          <v-list-item v-for="apiary in getApiaries" :key="apiary._id">
            <v-list-item-icon>
              <v-icon
                @click="
                  coords = {
                    longitude: apiary._coordinate.longitude,
                    latitude: apiary._coordinate.latitude
                  }
                "
                :color="getApiaryColor(apiary)"
                class="ma-auto"
              >
                mdi-map-search
              </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ apiary._name }}</v-list-item-title>
            </v-list-item-content>
            <v-icon class="ma-auto" @click="goToVisit(apiary._id)">
              mdi-calendar-month-outline
            </v-icon>
          </v-list-item>
          <v-divider
            v-if="getApiariesWithoutCoord.length > 0 && getApiaries > 0"
          ></v-divider>
          <v-list-item
            v-for="apiary in getApiariesWithoutCoord"
            :key="apiary._id"
          >
            <v-list-item-icon>
              <v-icon color="red" class="ma-auto">
                mdi-alert
              </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ apiary._name }}</v-list-item-title>
              <v-list-item-subtitle>
                Pas de coordonnées
              </v-list-item-subtitle>
            </v-list-item-content>
            <v-icon class="ma-auto" @click="goToVisit(apiary._id)">
              mdi-calendar-month-outline
            </v-icon>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-col>
  </v-row>
</template>

<script>
import UserMixin from "@/mixins/user";
import Map from "@/components/map.vue";
import DateMixin from "@/mixins/date";

export default {
  metaInfo() {
    return {
      titleTemplate: `%s | Map`
    }
  },
  mixins: [UserMixin, DateMixin],
  components: {
    Map
  },

  data() {
    return {
      coords: null
    };
  },

  /**
   * Récupére le rucher à visité en urgence
   */
  mounted() {
    let coords = this.getRedApiary(this.getApiaries)[0];

    if (!coords) coords = this.getOrangeApiary(this.getApiaries)[0];

    if (!coords) coords = this.getGreenApiary(this.getApiaries)[0];

    this.coords = coords ? coords._coordinate : null;
  },

  computed: {
    /**
     * @return les rucher de l'utilisateur courant
     */
    getApiaries() {
      return this.user._apiaries.filter(
        apiary =>
          apiary._coordinate.longitude !== null &&
          apiary._coordinate.latitude !== null
      );
    },

    getApiariesWithoutCoord() {
      /**
       * @return les rucher de l'utilisateur courant qui n'ont pas de coordonnée
       */
      return this.user._apiaries.filter(
        apiary =>
          apiary._coordinate.longitude === null ||
          apiary._coordinate.latitude === null
      );
    }
  },

  methods: {
    /**
     * @param {string} apiaryId
     * Redirige vers le rucher concerné
     */
    goToVisit(apiaryId) {
      this.$router.push({ name: "Apiary.Visit", params: { id: apiaryId } });
    }
  }
};
</script>

<style scoped>
#apiaries_map {
  height: calc(100vh - 100px - 50px);
  width: 95%;
  margin: auto;
}

.v-list {
  height: calc(100vh - 100px - 50px);
  overflow-y: auto;
  cursor: default;
}

.v-list-item--link {
  cursor: default;
}
</style>
