<template>
  <div>
    <div class="d-flex justify-center " v-if="!isConnected">
      <v-card class="pa-3 pa-md-12" style="width:100%; max-width: 1000px;">
        <v-card-title
          static
          style="font-size:1.5rem; transform: translate(-2%)"
          class="pa-0"
        >
          Connexion
        </v-card-title>
        <v-form ref="form" v-model="valid">
          <v-text-field
            :rules="emailRules"
            type="text"
            label="Email"
            v-model="email"
          ></v-text-field>

          <v-text-field
            :rules="passwordRules"
            type="password"
            label="Mot de passe"
            v-model="password"
          ></v-text-field>

          <v-row>
            <v-col
              style="width:100%"
              class="d-flex justify-md-start justify-center"
            >
              <v-btn :to="{ name: 'Admin.User.New' }" color="info">
                Créer un compte
              </v-btn>
            </v-col>
            <v-col
              style="width:100%"
              class="d-flex justify-md-end justify-center"
            >
              <v-btn :disabled="!valid" color="success" @click="validate">
                Valider
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card>
    </div>
    <div v-if="isConnected" class="mx-md-10">
      <div
        class="mx-auto text-center"
        style="max-width:600px"
        v-if="apiaries.length <= 0"
      >
        <v-img
          max-width="600px"
          class="mx-auto"
          src="assets/missing.png"
        ></v-img>
        <v-btn :to="{ name: 'Admin.Apiary.New' }">Créer un rucher</v-btn>
      </div>
      <div class="d-flex flex-wrap">
        <ApiaryCard
          v-for="apiary in getRedApiary(apiaries)"
          :key="apiary._id"
          :apiary="apiary"
          @goToVisit-click="goToVisit"
          @goToEdit-click="goToEdit"
          class="ma-5"
        ></ApiaryCard>
      </div>
      <div class="d-flex flex-wrap ">
        <ApiaryCard
          v-for="apiary in getOrangeApiary(apiaries)"
          :key="apiary._id"
          :apiary="apiary"
          @goToVisit-click="goToVisit"
          @goToEdit-click="goToEdit"
          class="ma-5"
        ></ApiaryCard>
      </div>
      <div class="d-flex flex-wrap">
        <ApiaryCard
          v-for="apiary in getGreenApiary(apiaries)"
          :key="apiary._id"
          :apiary="apiary"
          @goToVisit-click="goToVisit"
          @goToEdit-click="goToEdit"
          class="ma-5"
        ></ApiaryCard>
      </div>
    </div>
  </div>
</template>

<script>
import bcrypt from "bcryptjs";
import UserMixin from "@/mixins/user";
import DateMixin from "@/mixins/date";
import ApiaryCard from "@/components/apiary_card.vue";

export default {
  name: "Home",
  metaInfo() {
    let titleTemplate = "Accueil"

    if(!this.isConnected) titleTemplate = "Connexion"

    return {
      titleTemplate: `%s | ${titleTemplate}`
    }
  },
  mixins: [UserMixin, DateMixin],

  components: {
    ApiaryCard
  },

  data() {
    return {
      apiaries: null,
      isConnected: false,
      valid: true,
      email: "",
      password: "",
      emailRules: [
        v => !!v || "L'email est requis",
        v => /.+@.+/.test(v) || "E-mail doit être valide"
      ],
      passwordRules: [
        v => !!v || "Le mot de passe est requis",
        v => v.length >= 6 || "6 caractères minimum"
      ]
    };
  },

  /**
   * Si l'utilisateur est connécté récupere les ruchers
   */
  created() {
    this.isConnected = this.$store.getters["data/GET_USERCONNECTED"] !== null;
    if (this.isConnected) this.apiaries = this.user._apiaries;
  },

  watch: {
    getUserConnected(userid) {
      if (userid) {
        this.isConnected = true;
        this.apiaries = this.user._apiaries;
      } else {
        this.isConnected = false;
      }
    }
  },

  methods: {
    /**
     * Vérifie si le formulaire est valide
     * Si oui connecte l'utilisateur
     */
    validate() {
      if (this.$refs.form.validate()) {
        const users = this.$store.getters["data/GET_USERS"];
        const user = users.filter(element => {
          if (
            this.email === element._email &&
            bcrypt.compareSync(this.password, element._password)
          ) {
            return true;
          }
          return false;
        })[0];
        if (user) {
          this.$snotify.success("Connexion réussite");
          this.$store.dispatch("data/SET_USERCONNECTED", user._id);
        } else {
          this.$snotify.error("Identifiants invalides");
        }
      }
    },

    /**
     * @param {string} apiaryId
     * Redirige vers visite
     */
    goToVisit(apiaryId) {
      this.$router.push({ name: "Apiary.Visit", params: { id: apiaryId } });
    },

    /**
     * @param {string} apiaryId
     * Redirige vers l'edition de la visite
     */
    goToEdit(apiaryId) {
      this.$router.push({
        name: "Admin.Apiary.Edit",
        params: { id: apiaryId }
      });
    }
  }
};
</script>

<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
</style>
