<template>
  <v-card color="rgb(255, 196, 0, 0.4)" width="250" class="d-flex flex-column">
    <v-btn
      absolute
      color="rgb(255, 196, 0, 0.8)"
      fab
      large
      left
      top
      :ripple="false"
      style="z-index: 2; cursor: default"
    >
      <v-chip class="ma-2" :color="getApiaryColor(apiary)" text-color="white">
      </v-chip>
    </v-btn>
    <div style="height:150px">
      <Map
        :coords="apiary._coordinate"
        :readOnly="true"
        style="height:100%; width:100%"
      ></Map>
    </div>

    <v-card-text class="pt-6 " style="position: relative">
      <div class="grey--text mb-2 text-right">
        {{ convertDate(apiary._date) }}
      </div>
      <v-card-title class="pa-0 mb-2 ">
        {{ apiary._name }}
      </v-card-title>
    </v-card-text>
    <v-card-actions class="pb-md-2 align-end" style="flex: 1;">
      <v-icon
        class="mx-auto"
        :size="30"
        @click="$emit('goToVisit-click', apiary._id)"
      >
        mdi-calendar-month-outline
      </v-icon>
      <v-icon
        class="mx-auto"
        :size="30"
        @click="$emit('goToEdit-click', apiary._id)"
      >
        mdi-pencil-box
      </v-icon>
    </v-card-actions>
  </v-card>
</template>

<script>
import Map from "@/components/map.vue";
import DateMixin from "@/mixins/date";

export default {
  mixins: [DateMixin],
  components: {
    Map
  },
  props: {
    apiary: {
      type: Object
    }
  }
};
</script>
