<template>
  <v-navigation-drawer
    permanent
    absolute=""
    expand-on-hover=""
    style="z-index: 3"
  >
    <v-list nav class="py-0">
      <v-list-item
        two-line
        class="px-0"
        :to="{ name: 'Admin.User.Edit', params: { id: user._id } }"
        active-class="v-list-item--active-custom"
      >
        <v-list-item-avatar>
          <v-avatar size="40">
            <span class="headline" style="color: rgba(0, 0, 0, 0.87)">
              {{ user._firstName[0] }}{{ user._lastName[0] }}
            </span>
          </v-avatar>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title
            >{{ user._firstName }} {{ user._lastName }}</v-list-item-title
          >
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list-item :to="{ name: 'Home' }" exact>
        <v-list-item-icon>
          <v-icon class="ma-auto">mdi-home</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Accueil</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item :to="{ name: 'Admin.Apiary.New' }" exact>
        <v-list-item-icon>
          <v-icon class="ma-auto">mdi-plus-box</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Nouveau rucher</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item :to="{ name: 'Apiaries.Map' }">
        <v-list-item-icon>
          <v-icon class="ma-auto">mdi-map-search</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Map</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list-item :to="{ name: 'Admin.Settings' }">
        <v-list-item-icon>
          <v-icon class="ma-auto">mdi-cogs</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Configuration</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item @click="signOut">
        <v-list-item-icon>
          <v-icon class="ma-auto">mdi-logout-variant</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Se déconnecter</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  props: {
    user: {
      type: Object
    }
  },

  methods: {
    /**
     * Déconnecte l'utilisateur
     * Redirige vers la Home
     */
    signOut() {
      this.$store.dispatch("data/SET_USERCONNECTED", null);
      this.$router.push({ name: "Home" }).catch(() => {});
    }
  }
};
</script>

<style scoped>
.v-navigation-drawer {
  background-color: rgb(255, 196, 0, 0.4) !important;
}

.v-navigation-drawer:hover {
  background-color: rgb(255, 196, 0) !important;
}

.v-navigation-drawer .v-avatar {
  background-color: rgb(255, 196, 0) !important;
}

.v-list-item--active-custom::before {
  opacity: 0 !important;
}
</style>
