<template>
  <div>
    <l-map
      v-if="coords && coords.longitude && coords.latitude"
      :center="readOnly ? [coords.latitude, coords.longitude] : [0, 0]"
      :zoom="readOnly ? 17 : 0"
      :options="{ zoomControl: false }"
      @ready="onMapLoad"
    >
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>

      <l-marker
        v-if="readOnly && coords && coords.longitude && coords.latitude"
        :lat-lng="[coords.latitude, coords.longitude]"
      ></l-marker>

      <l-marker
        v-else
        v-for="apiary in apiaries"
        :key="apiary._id"
        :lat-lng="[apiary._coordinate.latitude, apiary._coordinate.longitude]"
        :color="getApiaryColor(apiary)"
        @click="$emit('goToVisit', apiary._id)"
      ></l-marker>

      <div v-if="!readOnly">
        <l-control-zoom position="bottomright"></l-control-zoom>
      </div>
    </l-map>
    <div
      v-else
      class="d-flex align-center justify-center grey lighten-2"
      style="height:100%"
    >
      <div class="d-flex align-center justify-center" style="height:100%">
        <v-icon color="red" class="mx-2">
          fas fa-exclamation-triangle
        </v-icon>
        Pas de coordonnée
      </div>
    </div>
  </div>
</template>

<script>
import {
  LMap,
  LTileLayer,
  LMarker,
  LControlZoom
} from 'vue2-leaflet';

import 'leaflet/dist/leaflet.css';

import DateHelper from "@/mixins/date";

export default {
  mixins: [DateHelper],
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LControlZoom
  },

  props: {
    apiaries: {
      type: Array
    },

    coords: {
      type: Object
    },

    readOnly: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      attribution: '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      leaflet: null
    };
  },

  watch: {
    /**
     * Observe coords
     * Si définie et que pas en readOnly zoom vers les coordonées
     */
    async coords() {
      if (this.coords && this.mapbox && !this.readOnly) {
        this.flyTo(this.coords.longitude, this.coords.latitude);
      }
    }
  },

  methods: {
    /**
     * Charge la map
     * Zoom vers les coordonées du rucher spécifié
     */
    onMapLoad(event) {
      this.leaflet = event;
      if (this.coords && !this.readOnly) {
        this.flyTo(this.coords.longitude, this.coords.latitude);
      }
    },

    /**
     * Zoom vers les coordonnées données
     */
    flyTo(longitude, latitude) {
      this.leaflet.flyTo({
        lat: latitude,
        lng: longitude
      },
      17,
      {
        duration: 3
      });
    }
  }
};
</script>

<style lang="scss">
  .leaflet-container {
    z-index: 0;
  }
</style>
