<template>
  <v-app>
    <v-main>
      <Header :user="user" v-if="user"></Header>
      <div style="margin-left:55px;margin-top:50px">
        <v-container fluid="">
          <router-view></router-view>
        </v-container>
      </div>
    </v-main>
    <vue-snotify></vue-snotify>
  </v-app>
</template>

<script>
import Header from "./components/header.vue";

import UserMixin from "./mixins/user";

export default {
  name: "App",
  metaInfo: {
    title: 'Apiculture',
  },
  mixins: [UserMixin],
  components: {
    Header
  }
};
</script>

<style>
@import "../node_modules/vue-snotify/styles/material.css";

html {
  overflow-y: visible !important;
}

.v-list-item__icon {
  width: 30px !important;
  height: 30px !important;
}
</style>
