<template>
  <div class="mx-auto text-center" style="max-width:600px">
    <v-img src="assets/404.png"></v-img>
    <v-btn :to="{ name: 'Home' }">Retour à l'accueil</v-btn>
  </div>
</template>

<script>
export default {
  metaInfo() {
    return {
      titleTemplate: `%s | 404`
    }
  },
}
</script>
