<template>
  <div class="d-flex justify-center">
    <v-card class="pa-3 pa-md-12" style="width:100%; max-width: 1000px">
      <v-card-title
        style="font-size:1.5rem; transform: translate(-2%)"
        class="pa-0"
      >
        {{
          data ? "Modification des informations du rucher" : "Nouveau rucher"
        }}
      </v-card-title>
      <v-form ref="form" v-model="valid">
        <v-text-field
          v-model="name"
          :rules="idRules"
          :counter="256"
          label="Nom"
        ></v-text-field>

        <v-text-field
          v-model="nbBeehive"
          :rules="nbBeehiveRule"
          :counter="4"
          type="number"
          label="Nombre de ruche"
        ></v-text-field>

        <v-select
          v-model="environments"
          :items="listEnvironment"
          label="Environements"
          chips=""
          attach=""
          multiple=""
        ></v-select>

        <v-text-field
          v-model="frequency"
          :counter="4"
          type="number"
          label="Fréquence des visites"
          v-if="data"
        ></v-text-field>

        <v-row style="width:100%" class="ma-0">
          <v-col class="d-flex justify-center justify-md-start pa-md-0">
            <v-btn
              color="error"
              @click="dialog = true"
              class="mx-2"
              v-if="data"
            >
              Supprimer le rucher
            </v-btn>
          </v-col>
          <v-col class="d-flex justify-center justify-md-end pa-md-0">
            <v-btn color="info" :to="{ name: 'Home' }" class="mx-2">
              Retour
            </v-btn>
            <v-btn
              :disabled="!valid"
              color="success"
              @click="
                !data ? validate() : (localisation = true), (dialog = true)
              "
              class="mx-2"
            >
              Valider
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>
    <v-dialog v-model="dialog" persistent max-width="500" v-if="data">
      <v-card>
        <v-card-title class="headline">
          {{
            localisation
              ? "Voulez-vous éditer les coordonnées du rucher"
              : "Supprimer ce rucher ?"
          }}</v-card-title
        >
        <v-card-text>
          {{
            localisation
              ? "Le changement des coordonnées effacera les anciennes"
              : "La suppresion de ce rucher entrainera la perte de toutes vos visites"
          }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="
              localisation ? validate() : null,
                localisation ? (localisation = false) : null,
                (dialog = false)
            "
          >
            Non
          </v-btn>
          <v-btn
            color="error darken-1"
            text
            @click="
              (updateLocalisation = true),
                (dialog = false),
                localisation ? validate() : $emit('removeApiary-click')
            "
          >
            Oui
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default() {
        return null;
      }
    },
    listEnvironment: {
      type: Array,
      default() {
        return [];
      }
    }
  },

  data() {
    return {
      dialog: false, // demande confirmation avant de supprimer
      localisation: false, // demander confirmation pour mettre à jour les coordonnées géographique
      updateLocalisation: false, // TRUE si il veut modifier les coord sinon FALSE
      valid: false,
      name: "",
      nbBeehive: 0,
      frequency: 0,
      environments: [],
      idRules: [
        v => !!v || "L'identifiant est requis",
        v => v.length <= 256 || "256 caractères maximum"
      ],
      nbBeehiveRule: [
        v => !!v || "Le nombre de ruche est requis",
        v => v.length <= 4 || "4 chiffres maximum"
      ]
    };
  },

  /**
   * Si un rucher est passé en props set les data correspondante
   */
  created() {
    if (this.data) {
      this.name = this.data._name;
      this.nbBeehive = this.data._nbBeehavior;
      this.environments = this.data._environments;
      this.frequency = this.data._frequency;
    }
  },

  watch: {
    /**
     * Observe data
     * Si nul set les data correspondante
     */
    data() {
      if (!this.data) {
        this.name = "";
        this.nbBeehive = "";
        this.environments = "";
        this.frequency = "";
      }
    }
  },

  methods: {
    /**
     * Vérifie si le formulaire est valide
     * Si oui emit les infos du rucher
     */
    validate() {
      if (this.$refs.form.validate()) {
        this.$emit(this.data ? "editApiary-click" : "addApiary-click", {
          name: this.name,
          nbBeehive: this.nbBeehive,
          environments: this.environments,
          frequency: this.frequency,
          updateLocalisation: this.updateLocalisation
        });
      }
    }
  }
};
</script>
