<template>
  <div class="d-flex justify-center">
    <v-card class="pa-3 pa-md-12" style="width:100%; max-width: 1000px">
      <v-card-title
        style="font-size:1.5rem; transform: translate(-2%)"
        class="pa-0"
      >
        {{ data ? "Modification de vos informations" : "Inscription" }}
      </v-card-title>
      <v-form ref="form" v-model="valid">
        <v-text-field
          :rules="emailRules"
          type="text"
          label="Email"
          v-model="email"
        ></v-text-field>

        <v-text-field
          :rules="lastNameRules"
          type="text"
          label="Nom"
          :counter="30"
          v-model="lastName"
        ></v-text-field>

        <v-text-field
          :rules="firstNameRules"
          type="text"
          label="Prénom"
          :counter="30"
          v-model="firstName"
        ></v-text-field>

        <v-text-field
          :rules="
            !data
              ? passwordRules
              : [v => v.length >= 6 || '6 caractères minimum']
          "
          type="password"
          label="Mot de passe"
          v-model="password"
        ></v-text-field>
        <v-row style="width:100%" class="ma-0">
          <v-col class="d-flex justify-center justify-md-start pa-md-0">
            <v-btn
              color="error"
              @click="dialog = true"
              class="mx-2"
              v-if="data"
            >
              Supprimer votre compte
            </v-btn>
          </v-col>
          <v-col class="d-flex  justify-center justify-md-end pa-md-0">
            <v-btn color="info" :to="{ name: 'Home' }" class="mx-2">
              Retour
            </v-btn>
            <v-btn
              :disabled="!valid"
              color="success"
              @click="validate"
              class="mx-2"
            >
              Valider
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>
    <v-dialog v-model="dialog" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">Supprimer votre compte ?</v-card-title>
        <v-card-text>
          La supprésion de votre compte entrainera la perte de toutes vos
          données
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false">Non</v-btn>
          <v-btn
            color="error darken-1"
            text
            @click="(dialog = false), $emit('removeUser-click')"
          >
            Oui
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import bcrypt from "bcryptjs";

export default {
  props: {
    data: {
      type: Object,
      default() {
        return null;
      }
    }
  },

  data() {
    return {
      valid: true,
      dialog: false,
      email: "",
      lastName: "",
      firstName: "",
      password: "",
      emailRules: [
        v => !!v || "L'email est requis",
        v => /.+@.+/.test(v) || "E-mail doit être valide"
      ],
      firstNameRules: [
        v => !!v || "Le prénom est requis",
        v => v.length <= 30 || "30 caractères maximum"
      ],
      lastNameRules: [
        v => !!v || "Le nom est requis",
        v => v.length <= 30 || "30 caractères maximum"
      ],
      passwordRules: [
        v => !!v || `Le mot de passe est requis`,
        v => v.length >= 6 || "6 caractères minimum"
      ]
    };
  },

  /**
   * Si un user est passé en props set les data correspondante
   */
  created() {
    if (this.data) {
      this.email = this.data._email;
      this.lastName = this.data._lastName;
      this.firstName = this.data._firstName;
    }
  },

  methods: {
    /**
     * Vérifie si le formulaire est valide
     * Si oui emit les infos de l'utilisateur
     */
    validate() {
      if (this.$refs.form.validate()) {
        this.$emit(this.data ? "editUser-click" : "addUser-click", {
          email: this.email,
          lastName: this.lastName,
          firstName: this.firstName,
          password: this.password
            ? bcrypt.hashSync(this.password, 10)
            : this.data._password
        });
      }
    }
  }
};
</script>
