<template>
  <v-card class="pa-3 pa-md-12" style="width: 100%">
    <v-card-title
      style="font-size:1.5rem; transform: translate(-2%)"
      class="pa-0"
      v-if="!data"
    >
      Nouvelle visite
    </v-card-title>
    <v-form ref="form" v-model="valid">
      <v-text-field
        v-model="food"
        :counter="50"
        :rules="foodRules"
        label="Nouriture"
        :readonly="data ? true : false"
      ></v-text-field>
      <v-text-field
        v-model="hausse"
        :counter="2"
        :rules="hausseRules"
        type="number"
        label="Hausse"
        :readonly="data ? true : false"
      ></v-text-field>
      <v-textarea
        v-model="devDynamic"
        :counter="255"
        :rules="devDynamicRules"
        filled
        label="Dynamique de développement des abeilles"
        :readonly="data ? true : false"
      ></v-textarea>
      <v-textarea
        v-model="comments"
        :counter="255"
        :rules="commentsRules"
        filled
        label="Observation"
        :readonly="data ? true : false"
      ></v-textarea>
      <v-menu
        v-model="visitDateMenu"
        :close-on-content-click="false"
        max-width="290"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            :value="getVisitDate"
            label="Date de la visite"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          v-model="visitDate"
          @input="visitDateMenu = false"
          locale="fr"
          color="rgb(255, 196, 0)"
          :readonly="data ? true : false"
        ></v-date-picker>
      </v-menu>
      <v-row style="width:100%" class="ma-0" v-if="!data">
        <v-col class="d-flex  justify-center justify-md-end pa-md-0">
          <v-btn color="info" :to="{ name: prevRoute }" class="mx-2">
            Retour
          </v-btn>
          <v-btn
            :disabled="!valid"
            color="success"
            @click="validate"
            class="mx-2"
          >
            Valider
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-card>
</template>

<script>
import DateMixin from "@/mixins/date";

export default {
  mixins: [DateMixin],
  props: {
    apiary: {
      type: Object
    },

    prevRoute: {
      type: String,
      default: "Home"
    },

    data: {
      type: Object
    }
  },

  data() {
    return {
      valid: true,
      visitDate: new Date().toISOString().substr(0, 10),
      visitDateMenu: false,
      food: "",
      hausse: "",
      devDynamic: "",
      comments: "",
      foodRules: [
        v => !!v || "Nourriture est requise",
        v => v.length <= 50 || "50 caractères maximum"
      ],
      hausseRules: [
        v => !!v || "Hausse est requis",
        v => v.length <= 2 || "2 chiffres maximum"
      ],
      devDynamicRules: [
        v => !!v || "Dynamique de développement des abeilles est requis",
        v => v.length <= 355 || "355 caractères maximum"
      ],
      commentsRules: [
        v => !!v || "Observation est requis",
        v => v.length <= 255 || "255 caractères maximum"
      ]
    };
  },

  /**
   * Si une visite est passé en props set les data correspondante
   */
  created() {
    if (this.data) {
      this.food = this.data._food;
      this.hausse = this.data._hausse;
      this.devDynamic = this.data._devDynamic;
      this.comments = this.data._comments;
    }
  },

  methods: {
    /**
     * Vérifie si le formulaire est valide
     * Si oui emit les infos de la visite
     */
    validate() {
      if (this.$refs.form.validate()) {
        this.$emit("addVisit-click", {
          date: this.visitDate,
          food: this.food,
          hausse: this.hausse,
          devDynamic: this.devDynamic,
          comments: this.comments
        });
        this.date = new Date().toISOString().substr(0, 10);
        this.food = "";
        this.hausse = 0;
        this.devDynamic = "";
        this.comments = "";
      }
    }
  },

  /**
   * @return La date de la viste convertie au bon format
   */
  computed: {
    getVisitDate() {
      return this.visitDate ? this.convertDate(this.visitDate) : "";
    }
  }
};
</script>
